*{
    margin: 0;
    padding: 0;
}

nav {
    background-color: #43A047;
    padding: 10px;
}

ul{
    display: flex;
    justify-content: space-between;
}

li{
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #adccab;
}

a:hover{
    text-decoration: none;
    color: #116f0a;
}

img{
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    width: 145px;
    height: 145px;
}

body{
    background-color: rgb(41, 129, 6);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

main{
    border: 5px solid rgb(41, 129, 6);
    border-radius: 5px;
    background-color: #284e88;
    width: 775px;
    height: 775px;
}


.camel{
    border: 5px solid rgb(19, 153, 14);
}

.cat{
    border: 5px solid rgb(223, 28, 28);
}

.horse{
    border: 5px solid rgb(207, 204, 15);
}


.f1{
    display: flex;
    justify-content: flex-end;
}


.f2{
    display: flex;
    justify-content: center;
}

.f3{
    display: flex;
    justify-content: space-around;
}

.f4{
    display: flex;
    justify-content: space-between;
}   


.f5{
    display: flex;
    align-items: flex-end;
}


.f6{
    display: flex;
    justify-content: center ;
    align-items: center;
}


.f7{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.f8{
    display: flex;
    flex-direction: row-reverse;
}

.f9{
    display: flex;
    flex-direction: column;
}

.f10{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.f11{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.f12{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.f13{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: end;
}

.f14{
    display: flex;
}

.horse-f14{
    order: 2;
}

.f15{
    display: flex;
}

.cat-f15{
    order: -3;
}

.f16{
    display: flex;
    align-items: flex-start;
}

.horse-f16{
    align-self: end;
}

.f17{
    display: flex;
    align-items: flex-start;
}

.horse-f17{
    order: 2;
    align-self: end;
}

.f18{
    display: flex;
    flex-wrap: wrap;
}

.f19{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.f20{
    display: flex;
    flex-flow: column wrap;
}

.f21{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.f22{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
}

.f23{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-content: center;
}

.f24{
    display: flex;
    flex-direction: column-reverse; 
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-content: space-between;
}

